<h2>Parcel Details</h2>
 
<p>Insert the parcel weight below</p>
<input type="text" [value]="parcel.weight" (input)="parcel.weight = $event.target.value" placeholder="weight">
<p>Insert the given dimensions below</p>
<input type="text" [value]="parcel.height" placeholder="height" (input)="parcel.height = $event.target.value"> 
<input type="text" [value]="parcel.width" placeholder="width" (input)="parcel.width = $event.target.value"> 
<input type="text" [value]="parcel.depth" placeholder="depth" (input)="parcel.depth = $event.target.value">
 
<form>
 <div *ngFor="let type of types">
 <input type="checkbox" (change)="isChangeLimitAccessToggle(type)" [checked]="type.checked"/> {{type.name}}
 </div>
 </form>
<p>Insert a start destination</p>
 
 <select (change)="onChangeStart($event.target.value)" formControlName="countryControl">
 <option *ngFor="let destination of destinations" (input)="destination = $event.target.value" [value]="destination"> {{destination}}</option>
 </select>
 
 <p>Insert an end destination</p>
 
 <select (change)="onChangeEnd($event.target.value)" formControlName="countryControl">
 <option *ngFor="let destination of destinations" (input)="endDestination = $event.target.value" [value]="destination"> {{destination}}</option>
 </select>
 
 <button *ngIf = "parcel.weight && parcel.height && parcel.depth && parcel.width" (click)="calculate()" >Calculate</button>