<div align="center">
  <img
    src="../../../assets/oceanic_airlines_logo.png"
    alt="Oceanic Airlines"
    width="200"
    height="250"
    style="background-color:white;"
  />
  <div align="center" style="margin-top:50px;">
    <input
      type="text"
      placeholder="Insert username"
      id="name"
      name="name"
      required
      minlength="1"
      maxlength="10"
      size="50"
      [value]="user.name"
      (input)="user.name = $event.target.value"
    />
  </div>

  <div align="center">
    <input
      type="password"
      placeholder="Insert password"
      id="password"
      name="password"
      required
      minlength="1"
      maxlength="10"
      size="50"
      [value]="user.password"
      (input)="user.password = $event.target.value"
    />

    <p>Insert your login details</p>
    <button (click)="login()">Login</button>

    <p *ngIf="loginfailed">User name or password is wrong - Please try again</p>
    <p *ngIf="noName">Please insert a name</p>
  </div>
</div>
