
<body>
    <div>
    <div align="center" >
        <img src="../../../assets/oceanic_airlines_logo.png" alt="Oceanic Airlines" width="200" height="250" style="background-color:white;">        
    </div>
    <div align="center" style="margin-top:50px;">
        <input type="text" placeholder="Insert username" id="name" name="name" required
    minlength="1" maxlength="10" size="50">
    </div>
    <div align="center">
        <input type="password" placeholder="Insert password" id="password" name="password" required
        minlength="1" maxlength="10" size="50">
                <p><b>Insert your login details</b></p>
        <button (click)="login()">Login</button>

        <p *ngIf="loginfailed">Couldn't find the user<p>                        
    </div>
    </div>
</body>
